<div style="margin:0 30px;">
    <h1> Company Data </h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">S.no</th>
                <th scope="col"> FullName</th>
                <th scope="col"> Email </th>
                <th scope="col"> Designation </th>
                <th scope="col"> Employee Number </th>
                <th scope="col"> Action </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companyData; let i = index">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ company.fullName }}</td>
                <td>{{ company.email }}</td>
                <td>{{ company.designation }}</td>
                <td>{{ company.employeeNumber }}</td>
                <td>
                    <button class="btn btn-default" style="margin-right: 5px;"> <i class="fas fa-edit"></i></button>
                    <button class="btn btn-danger"> <i class="fas fa-trash"></i> </button>
                </td>
            </tr>
            <tr *ngIf="companyData.length === 0"><td colspan="5">No Data available, Please enter company data from the form on the left</td></tr>
        </tbody>
    </table>
</div>